<div class="current-weather-container">
    <span class="location-name">Gothenburg</span>
    <div class="date-time-container">
        <span>{{ currentDay }}</span>
        <span>{{ currentTime }}</span>
    </div>
    <span class="current-sky-txt">{{ currentSky }}</span>
    <img class="current-sky" src='./../assets/weathericon/png/{{currentIcon}}.png' alt="error loading icon" />
    <div class="temp-wind-container">
        <span class="temp-text">{{ currentTemperatureMin }}-{{ currentTemperatureMax}} °C</span>
        <span class="wind-speed-text">{{ currentWindSpeed }}m/s</span>
    </div>
</div>